# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Virtualenvs
.venv/
venv/
env/

# uv
.uv/

# Tox / pytest / coverage
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Type checkers / linters
.mypy_cache/
.ruff_cache/
.pyre/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ENV
.env

# MkDocs build output
site/
